body{
    height: 100vh;
}

.mainBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    gap: 12px;
}

.clicked{
    background-color: aqua;
}

.hidden{
    display: none;
}

.curtain{
    transform: rotate(-45deg);
    z-index: 100;   

}

.key{
    font-weight: 900;
    font-style: italic;
}

#newGameButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#newGameButtons button{
    padding: 20px;
}


.mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1; 
}

.square{
    background-color: white;
    border: 1px black solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#autoFinish{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#autoComplete{
    display: flex;
    gap: 5px;
    width: 440px;
}

.title{
    text-align: center;
}
